NEXT_PUBLIC_SUPABASE_URL=https://ryokaxirmhvyxzioueir.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_5ZVupmq-fr5BYKnn8-8RTA_hIrXEskg
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_5ZVupmq-fr5BYKnn8-8RTA_hIrXEskg
